<section>
  <h1>Se connecter</h1>
  <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="TOTO"  formControlName="username" required="true">
      <mat-hint>indiquer votre nom d'utilisateur</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="AZERTY123" [type]="hidePassword() ? 'password' : 'text'" formControlName="password" required="true">
      <mat-hint>Indiquer votre mot de passe</mat-hint>
      <button mat-icon-button matSuffix (click)="toggleVisibilityPassword($event)">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-action-container">
      <button mat-flat-button type="submit" [disabled]="this.loginFormGroup.invalid || this.loginFormGroup.errors || this.loginFormGroup.errors?.['required']">
        Log-in
      </button>
      <button mat-flat-button type="button" (click)="openDialog($event)">
        Register
      </button>
    </div>
  </form>

</section>
