<section>
  <h1>{{title}}</h1>
  <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>{{username}}</mat-label>
      <input matInput placeholder="Saladin98"  formControlName="username" required="true" [errorStateMatcher]="errorMatcher"  maxlength="20" autocomplete="username">
      <mat-hint>{{hintUsername}}</mat-hint>
  <mat-error *ngIf="usernameControl.hasError('noSpaceAllowed')">
    {{spaceErrorText}}
  </mat-error>
  <mat-error *ngIf="usernameControl.hasError('required')">
    {{requiredErrorText}}
  </mat-error>
  <mat-error *ngIf="invalidCredentials">fff</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{password}}</mat-label>
      <input matInput placeholder="PASSWORD123" [type]="hidePassword() ? 'password' : 'text'" formControlName="password" required="true" [errorStateMatcher]="errorMatcher"  minlength="8" maxlength="20" autocomplete="current-password webauthn">
      <mat-hint>{{hintPassword}}</mat-hint>
      <button mat-icon-button matSuffix (click)="toggleVisibilityPassword($event)">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.hasError('required')">
        {{requiredErrorText}}
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')">
        {{minLengthErrorText}}
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="invalidCredentials">{{credentialsErrorText}}</mat-error>
    <div class="button-action-container">
      <button mat-flat-button type="submit" [disabled]="this.loginFormGroup.invalid || this.loginFormGroup.errors || this.loginFormGroup.errors?.['required']">
        {{loginBtnText}}
      </button>
      <button mat-flat-button type="button" (click)="openDialog($event)">
        {{registerBtnText}}
      </button>
    </div>
  </form>

</section>
