:host {
  display: block;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-primary);
  padding-top: 6rem;
  box-sizing: border-box;
}

mat-card {
  margin-bottom: 2rem;
}
img {
  background-size:cover;
}
mat-card {
  max-width: 400px;

}
mat-card:hover {
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem var(--color-secondary);
  cursor: pointer;
}

section {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  box-sizing: border-box;
}

mat-card-content {
  text-align: center;
}

mat-card-header,p {
  justify-content: center;
  font-weight: bolder;
}

@media (max-width: 600px) {
  mat-card {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  section {
    gap: 1rem;
    padding: 0 0.5rem;
  }
}
