<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>Validate your account</title>
</head>
<body>
<h2>Bienvenue <span>${pseudo}</span> chez SoninKrala !</h2>
<p>Thank you for registering.</p>
<p>...Mais il ne te reste qu'une dernière petite étape qui est de confirmer ton identité en cliquant sur le lien qui figure en dessous</p>
<p>Clique <a href="${link}">ici</a> pour valider ton inscription et pouvoir profiter de toutes les fonctionnalités de SoninKrala.</p>
<span>Fait vite, le lien n'est actif que pendant 15 min</span>
</body>
</html>
