<main>
  <h1>{{wordTitle.toUpperCase()}}</h1>
  @if(recorderStatus === 'inactive') {
    <p class="pulse">{{hintStartAudio}}</p>
  }
  <div class="button-container">
    <button mat-icon-button id="record-icon-button" [class.is-recording]="recorderStatus === 'recording'">
        <mat-icon (click)="toggleRecording($event)" [fontIcon]="
      recorderStatus === 'inactive' ? 'mic' :
      recorderStatus === 'recording' ? 'stop_circle' :
      'help_outline'"
      ></mat-icon>
    </button>
  </div>

  @if (audioUrl) {
    <div class="container-column">
      <audio [src]="audioUrl" controls [controlsList]="'nodownload'"></audio>
      <button mat-fab extended type="submit" (click)="sendRecord($event)">{{sendButton}}</button>
    </div>
  }
  @if(resultPronunciation) {
      <span [ngClass]="{
    'good-score': resultPronunciation.score >= 80,
    'medium-score': resultPronunciation.score >= 50 && resultPronunciation.score < 80,
    'bad-score': resultPronunciation.score < 50
      }" class="result">{{scoreLabel.toUpperCase() + ' : ' + resultPronunciation.score + '%'}}</span>
  }
</main>

